<div class="container-fluid banner py-5 ">

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item "><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Bouquets</li>
        </ol>
      </nav>
    <div class="row text mt-3">
        <!-- <img src="../../assets/icons/bouquet.png" alt="" class="bouqIcon"> -->
        <h2>Bouquets</h2>
        <p>A wide selection of wildflowers, lavender, and hibiscus –  perfect for adding natural beauty to any occasion</p>
    </div>

</div>

