<!-- <p>admin works!</p> -->

<!-- 
<input type="text " placeholder="Bouquet Name">
<input type="text" placeholder="Price"> -->

<a routerLink="/createproduct"><button class="btn btn-success">Create New Product</button></a>

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Image</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let bouquet of bouquets'>
        <th scope="row" > {{ bouquet.id }}</th>
        <td><p>{{bouquet.title}}</p></td>
        <td><p>{{bouquet.description}}</p></td>
        <td><p>{{bouquet.price}}</p></td>
        <td><input type="text" [(ngModel)] = "stock" placeholder="{{bouquet.stock}}"></td>
        <td><p>{{bouquet.image}}"</p></td>
        <td>
            <a routerLink="/editinfo" (click)="editData()"><button class="btn btn-primary">Edit Data</button></a>
            <a routerLink="/admin"><button class="btn btn-danger" (click)="delete()">Delete</button></a>
</td>
      </tr>
      <tr>


