<!-- <p>admin works!</p> -->

<!-- 
<input type="text " placeholder="Bouquet Name">
<input type="text" placeholder="Price"> -->

<div class="container marginTop">
<a routerLink="/createproduct"><button class="btn btn-success">Create New Product</button></a>

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Image</th>
        <th scope="col">Display</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let bouquet of bouquets'>
        <th scope="row" > {{ bouquet.id }}</th>
        <td><p>{{bouquet.title}}</p></td>
        <td><p>{{bouquet.description}}</p></td>
        <td><p>{{bouquet.price}}</p></td>
        <td>
          <!-- <input type="text" [(ngModel)] = "stock" placeholder="{{bouquet.stock}}"> -->
          <div class="inStock" *ngIf="bouquet.stock === 0">Out Of Stock</div>
          <div class="inStock" *ngIf="bouquet.stock === 1">In Stock</div>
        </td>
        <td><p>{{bouquet.image}}"</p></td>
        <td>
          <div class="hiddenProduct" *ngIf="bouquet.display === 0">
            <div class="displayMessage">Hidden</div>
            <button class="btn btn-light" (click)="showProduct()">Show</button>
          </div>

          <div class="displayedProduct" *ngIf="bouquet.display === 1">
            <div class="displayMessage">Displayed</div>
            <button class="btn btn-dark" (click)="hideProduct()">Hide</button>
          </div>
          
        </td>
        <td class="buttons">
            <a routerLink="/editinfo/{{bouquet.id}}"><button class="btn btn-primary">Edit Data</button></a>
            <a><button class="btn btn-danger" (click)="delete()">Delete</button></a>
</td>
      </tr>
      <tr>



