
<div class="product mb-5"
*ngFor="let bouquet of bouquets">
    <div class="prodStock" *ngIf="bouquet.stock">
    <div class="productImg">
    <span class="badge inStock text-bg-success position-absolute py-1 px-2" *ngIf="bouquet.stock">In Stock</span>
        
    <img src="../../assets/ready/{{bouquet.image}}" alt="" class="img">



    </div>
    <h5 class="mt-3">{{bouquet.title}}</h5>
    <p class="description pt-2">{{bouquet.description}}</p>
    <div class="price mt-1">CAD {{bouquet.price}}</div>
    <button class="btn btn-primary mt-3">Shop Now</button>
</div>


<div class="prodStock opacityLow" *ngIf="!bouquet.stock">
    <div class="productImg">
    <span class="badge outOfStock text-bg-success position-absolute py-1 px-2" *ngIf="!bouquet.stock">Out of Stock</span>
        
    <img src="../../assets/ready/{{bouquet.image}}" alt="" class="img">



    </div>
    <h5 class="mt-3">{{bouquet.title}}</h5>
    <p class="description pt-2">{{bouquet.description}}</p>
    <div class="price mt-1">CAD {{bouquet.price}}</div>
    <button class="btn btn-primary mt-3 disabled">Shop Now</button>
</div>

</div>

