<div class="filters">


    <div class="row py-3">

        <div class="filterFlex  pb-4">
            <img src="../../assets/icons/filter.png" alt="" class="filterIcon">
            <h4>Filter</h4>
    
        </div>

        <div class="hide">
        <div class="flexFilter filterTitle">
        <h6 class="py-3">Flower Type</h6>
        <img src="../../assets/icons/collapse-arrow.png" alt="" class="filterIcon">
         </div>
        <div class="form-check mt-2">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Lavender
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Hibiscus
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Daisies
            </label>
          </div>
   


        <div class="flexFilter filterTitle">
            <h6 class="py-3">Occasion</h6>
            <img src="../../assets/icons/collapse-arrow.png" alt="" class="filterIcon">
             </div>
        <div class="form-check mt-2">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Birthdays
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Anniversaries
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Weddings
            </label>
          </div>
          <div class="pt-3 type"></div>


        <div class="flexFilter filterTitle">
            <h6 class="py-3">Color</h6>
            <img src="../../assets/icons/collapse-arrow.png" alt="" class="filterIcon">
             </div>
        <div class="form-check mt-2">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <div class="color">
            <label class="form-check-label" for="flexCheckDefault">
              Pink
            </label>
            <div class="colorCircle pink"></div>
        </div>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <div class="color">
            <label class="form-check-label" for="flexCheckDefault">
              Purple
            </label>
            <div class="colorCircle purple"></div>
        </div>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <div class="color">
            
            <label class="form-check-label" for="flexCheckDefault">
              Blue
            </label>
            <div class="colorCircle blue"></div>
        </div>
          </div>
          <div class="pt-3 type"></div>
        </div>
    </div>


</div>
